@media (max-width: 991px) {
    .header {
        padding: 0 25px 0 25px;
    }
    .promo {
        &__wrapper {
            display: flex;
            align-items: flex-end;
            padding: 0 25px;
        }
    }
    .opport {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
        }
        &__item {
            img {
                margin-top: 25px;
            }
        }
    }
    .consultation {
        text-align: center;
        .title_left {
            text-align: center;
        }
        .feed-form {
            margin: 36px auto;
        }
    }
    .carousel {
        &__inner {
            img {
                height: 350px;
                margin: 0 auto;
            }
        }
        .slick-dots {
            display: none;
        }
    }
    .catalog {
        &__content {
           width: 630px;
           margin: 0 auto;
           margin-top: 45px;
        }
    }
    .reviews {
        padding: 0 25px 50px 25px;
        &__item {
            img {
                width: 150px;
                height: 150px;
            }
        }
        &__text {
            margin-left: 50px;
        }      
    }
    .footer {
        &__info {
            width: 440px;
            height: 260px;
        }
        &__addr{
            font-size: 18px;
        }
        &__phone{
            font-size: 18px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        padding: 0 25px 0 25px;
        &__phone {
            font-size: 17px;
        }
        
    }
    .promo {
        &__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__header {
            font-size: 35px;
        }
    }
    .opport {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        &__item {
            img {
                margin-top: 25px;
            }
        }
    }
    .carousel {
        &__inner {
            width: 100%;
            img {
                margin: 0 auto;
            }
        }
    }
    .catalog {   
        &__tab {
            width: 200px;
        }
    }
    .footer {
        &__info {
            padding: 45px 0 25px 0;
            width: 400px;
            height: 240px;
        }
        &__addr{
            font-size: 17px;
        }
        &__phone{
            font-size: 17px;
        }
        &__social-item {
            width: 51px;
            height: 51px;
        }
    }   
   
}
@media (max-width: 575px) {
    .header {
        &__phone {
            font-size: 17px;
        }
        &__official {
            display: none;
        }
        }
    .opport {
        &__wrapper {
            width: 100%;
        }
    }
    .consultation {
        .title_left{
            font-size: 30px;
        }
    }
    .carousel {
        &__inner {
            margin: 0 auto;
            width: 100%;
            img{
                height: 200px;
            }
        }
    }
    .catalog {
        padding: 0 30px 80px 30px;
        .title {
            font-size: 29px;
        }
        &__tab {
            width: 170px;
            font-size: 15px;
        }
        &__content {
            align-items: center;
            width: 100%;
        }
        &-item {
            width: 250px;
        }
        &-item__img {
            height: 170px;
        }
        &-item__price {
            font-size: 15px;
            margin-bottom: 10px;
        }
        &-item__footer{
            flex-direction: column;
        }
    }
    .footer {
        &__info {
            padding: 35px 0 25px 0;
            width: 380px;
            height: 220px;
        }
        &__social-item {
            width: 45px;
            height: 45px;
            img {
                height: 23px;
            }
        }
    }

}